.nav-1 {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-image: linear-gradient(to right, #0ea5e9, #6366f1);
    border-bottom: 4px solid #6366f1;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
}

.sidenav-1 {
    height: 100%;
    width: 16rem;
    position:fixed;
    z-index: 1;
    top: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: inherit;
    /* background: #fff; */
    border-right: 4px solid #6366f1;
}

.sidenav-1 a {
    padding: 1rem 1.25rem;
    text-decoration: none;
    /* color: rgb(30, 58, 138); */
    display: block;
}

.content-menu {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    display: none;
}

.content-menu a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* color: rgb(30, 58, 138); */
    display: block;
    padding-top: 0.5rem;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(30, 58, 138);
}

th, td {
    border: 1px solid rgb(30, 58, 138);
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #fff;
}

/* For Dropdowns */
/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:focus {
    font-weight: bolder;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a, .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover, .dropdown-content button:hover {
    text-decoration: underline;
    font-weight: bold;
}